/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto//roboto-v20-latin_cyrillic-regular.eot");
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto//roboto-v20-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto//roboto-v20-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto//roboto-v20-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto//roboto-v20-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto//roboto-v20-latin_cyrillic-regular.svg#Roboto") format("svg");
}

/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto//roboto-v20-latin_cyrillic-500.eot");
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/roboto//roboto-v20-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto//roboto-v20-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto//roboto-v20-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto//roboto-v20-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto//roboto-v20-latin_cyrillic-500.svg#Roboto") format("svg");
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto//roboto-v20-latin_cyrillic-700.eot");
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/roboto//roboto-v20-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto//roboto-v20-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto//roboto-v20-latin_cyrillic-700.woff") format("woff"), url("../fonts/roboto//roboto-v20-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto//roboto-v20-latin_cyrillic-700.svg#Roboto") format("svg");
}

/* font-family: "Raleway", sans-serif; */
html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
  outline: 2px solid red;
}

body {
  font-family: "Roboto";
  font-size: 18px;
  line-height: 1.71;
  letter-spacing: 0.02em;
  color: #757575;
}

li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.hag-port {
  background-color: #ffffff;
  border: 1px solid #ececec;
  margin-left: 0;
  margin-right: 0;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 480px) {
  .container {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.container-nav {
  display: inline-flex;
}

.nav .link.current {
  color: #2196f3;
  position: relative;
}

.current::after {
  content: "";
  display: block;
  width: 110%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  position: absolute;
  bottom: -32px;
  left: -3px;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.192;
    letter-spacing: 0.03em;
  }
}

.logo-second {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 768px) {
  .logo-second {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.192;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1200px) {
  .logo-second {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
  }
}

@media screen and (max-width: 767px) {
  .logo-container {
    margin-right: 15px;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .logo-container {
    margin-right: 88px;
    margin-top: 26px;
    margin-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .logo-container {
    margin-right: 93px;
    margin-top: 24px;
    margin-bottom: 25px;
    font-size: 26px;
  }
}

.had {
  background-color: #ffffff;
}

.nav {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .nav {
    justify-content: flex-start;
    align-items: baseline;
  }
}

.contacts-emil-svg {
  width: 16px;
  height: 12px;
  fill: #757575;
  margin-right: 10px;
  vertical-align: middle;
}

@media screen and (min-width: 768px) {
  .contacts-emil-svg {
    width: 14px;
    height: 10px;
    margin-right: 8px;
  }
}

.contacts-phone-svg {
  width: 10px;
  height: 12px;
  fill: #757575;
  margin-right: 10px;
  vertical-align: middle;
}

@media screen and (min-width: 768px) {
  .contacts-phone-svg {
    width: 10px;
    height: 14px;
    margin-right: 8px;
  }
}

.cotacts-nav-link:hover .contacts-emil-svg,
.cotacts-nav-link:focus .contacts-emil-svg {
  fill: #2196f3;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cotacts-nav-link:hover .contacts-phone-svg,
.cotacts-nav-link:focus .contacts-phone-svg {
  fill: #2196f3;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cotacts-nav {
  color: #757575;
  display: none;
}

@media screen and (min-width: 768px) {
  .cotacts-nav {
    display: flex;
    flex-direction: column;
    margin-left: 84px;
    margin-top: 21px;
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .cotacts-nav {
    display: inline-flex;
    flex-direction: row;
    margin-left: auto;
    font-size: 14px;
  }
}

.cotacts-nav .link + .link {
  margin-left: 0;
}

@media screen and (min-width: 768px) {
  .cotacts-nav .link + .link {
    margin-left: 0;
    margin-top: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .cotacts-nav .link + .link {
    margin-left: 30px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.link {
  color: inherit;
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: #2196f3;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-nav {
  margin-top: 0;
  margin-bottom: 0;
  display: none;
  padding-left: 0px;
}

@media screen and (min-width: 768px) {
  .menu-nav {
    display: inline-flex;
  }
}

.menu-item {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.mobile-menu-btn {
  display: none;
  width: 40px;
  height: 40px;
  background-color: inherit;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 8px;
  padding-right: 8px;
}

.mobile-close-svg {
  width: 100%;
  height: 100%;
}

.mobile-close-svg:active {
  fill: #2196f3;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-btn.is-open {
  display: block;
  padding: 11px;
}

@media screen and (max-width: 767px) {
  .mobile-menu-btn {
    display: block;
  }
}

.mobile-menu-btn.is-open .icon-cross {
  display: none;
}

.mobile-menu-btn.is-open .icon-mobile {
  display: block;
}

.mobile-menu-btn .icon-mobile {
  display: none;
}

.mobile-menu {
  position: absolute;
  left: 0;
  right: 0;
  padding: 60px;
  width: auto;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  opacity: 0;
  visibility: hidden;
  z-index: 55;
  background-color: #fff;
  border-top: 1px solid #ececec;
}

@media screen and (max-width: 480px) {
  .mobile-menu {
    position: absolute;
    left: 0;
    right: 0;
    padding: 60px;
    width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    opacity: 0;
    visibility: hidden;
    z-index: 55;
    background-color: #fff;
    border-top: 1px solid #ececec;
  }
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
}

.mobile-menu-nav {
  text-align: center;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: 1.666;
  letter-spacing: 0.02em;
  color: #212121;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .mobile-menu-nav {
    display: none;
  }
}

.mobile-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-menu-item .link.current {
  color: #2196f3;
  position: relative;
}

@media screen and (max-width: 767px) {
  .current::after {
    content: "";
    display: block;
    width: 110%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
    position: absolute;
    bottom: -12px;
    left: -3px;
  }
}

@media screen and (min-width: 768px) {
  .current::after {
    content: "";
    display: block;
    width: 110%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
    position: absolute;
    bottom: -32px;
    left: -3px;
  }
}

.mobile-cotacts-nav {
  color: #757575;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 60px;
}

@media screen and (min-width: 768px) {
  .mobile-cotacts-nav {
    display: none;
  }
}

.cotacts-mobile-link:not(:last-child) {
  margin-bottom: 16px;
}

.fon {
  background-color: #212121;
}

@media screen and (max-width: 480px) {
  .fon {
    width: 100%;
  }
}

.hero {
  display: block;
  text-align: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/application-team-mob480.jpg);
  width: 100%;
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .hero {
    height: 400px;
    width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/application-team-mob768.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    width: 1600px;
    height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/application-team.jpg);
    margin-bottom: 94px;
  }
}

.container-hero {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container-hero {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container-hero {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container-hero {
    width: 1200px;
  }
}

.content {
  display: block;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media screen and (min-width: 1200px) {
  .content {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero-title {
  margin-top: 0;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62em;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  padding-left: 45px;
  padding-right: 45px;
}

@media screen and (min-width: 768px) {
  .hero-title {
    padding-left: 189px;
    padding-right: 189px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36em;
    padding-left: 237px;
    padding-right: 237px;
  }
}

.btn {
  display: inline-block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9em;
  letter-spacing: 0.06em;
  color: #fff;
  background-color: #2196f3;
  text-decoration: none;
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 200px;
  border: none;
  cursor: pointer;
}

.btn-position {
  padding-bottom: 210px;
}

@media screen and (max-width: 480px) {
  .btn-position {
    padding-bottom: 118px;
  }
}

@media screen and (min-width: 768px) {
  .btn-position {
    padding-bottom: 118px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.is-hidden .modal {
  transform: translate(-50%, 0%) scale(0.5);
}

.modal-title {
  display: block;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal {
  position: absolute;
  top: 52%;
  left: 51%;
  width: 450px;
  height: 609px;
  transform: translate(-50%, -50%) scale(1);
  background-color: #ffffff;
  padding-top: 40px;
  padding-left: 41px;
  padding-right: 39px;
  padding-bottom: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.form-modal {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-top: 0;
}

.form-modal input {
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 15px 12px 42px;
  transition: border-color #212121;
}

@media screen and (min-width: 768px) {
  .form-modal input {
    width: 370px;
  }
}

@media screen and (min-width: 1200px) {
  .form-modal input {
    width: 448px;
  }
}

.modal-icon-svg {
  position: absolute;
  top: 50%;
  left: 6%;
  width: 18px;
  height: 18px;
  fill: #212121;
  transform: translate(-50%);
  transition: border-color #212121;
}

.form-input:focus {
  border-color: #2196f3;
  outline: none;
}

.form-input:focus + .modal-icon-svg {
  fill: #2196f3;
}

.form-modal:focus .form-input {
  border: 2px solid #2196f3;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.form-modal-comment textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .form-modal-comment textarea {
    width: 370px;
    height: 120px;
  }
}

@media screen and (min-width: 1200px) {
  .form-modal-comment textarea {
    width: 448px;
    height: 120px;
  }
}

.form-modal label {
  font-family: "Roboto";
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
  display: block;
}

textarea {
  resize: none;
}

.form-modal-comment {
  margin-bottom: 20px;
}

.form-modal-comment textarea::placeholder {
  font-family: "Roboto";
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-modal-comment label {
  font-family: "Roboto";
  font-size: 12px;
  line-height: 1.166x;
  letter-spacing: 0.01em;
  color: #757575;
}

.policy-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.label-checked {
  display: flex;
  justify-content: center;
  align-items: center;
}

.policy-checkbox:checked + .icon-checked {
  background-color: #2196f3;
  background-image: url(../images/icon-check.svg);
  border: #2196f3;
  background-size: contain;
  background-origin: border-box;
}

.icon-checked {
  display: inline-block;
  border: 1px solid #212121;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  margin-right: 7px;
}

.form-modal-policy label {
  color: #757575;
  font-family: "Roboto";
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.form-modal-policy a {
  color: #2196f3;
  font-family: "Roboto";
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .form-modal-policy label {
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .form-modal-policy a {
    font-size: 14px;
  }
}

.btn-modal {
  display: block;
  border: none;
  padding-right: 55px;
  padding-left: 56px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-align: center;
  width: 200px;
  height: 50px;
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.btn-backdrop {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  color: white;
  vertical-align: middle;
  cursor: pointer;
}

.btn-backdrop:hover .backdrop-close-svg,
.btn-backdrop:focus .backdrop-close-svg {
  fill: #2196f3;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-backdrop:hover, .btn-backdrop:focus {
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-close-svg {
  position: absolute;
  width: 11px;
  height: 11px;
  top: 9px;
  left: 9px;
  right: 0;
  bottom: 0;
  fill: #212121;
}

.img-element {
  margin-right: 0;
}

.thumb-element {
  width: 100%;
}

@media screen and (max-width: 480px) {
  .thumb-element {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .thumb-element {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .thumb-element {
    width: 370px;
  }
}

.container-features {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.container-features .section-label {
  display: flex;
  margin-bottom: 0;
  margin-top: 0;
}

@media screen and (max-width: 480px) {
  .container-features {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .container-features {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .container-features {
    display: inline-flex;
    flex-wrap: nowrap;
  }
}

.item-features {
  margin-right: 0;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.item-features:nth-child(4n) {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .item-features {
    margin-bottom: 30px;
    margin-right: 0;
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .item-features {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .item-features {
    margin-right: 30px;
  }
  .item-features:nth-child(4n) {
    margin-right: 0;
  }
}

.icon-one::before {
  display: block;
  content: "";
  width: 450px;
  height: 120px;
  background: #f5f4fa;
  margin-bottom: 30px;
  background-image: url(../images/img-one-mob.png);
  background-position: center;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 480px) {
  .icon-one::before {
    width: 100%;
    background-image: url(../images/img-one-mob.png);
  }
}

@media screen and (min-width: 768px) {
  .icon-one::before {
    width: 354px;
    background-image: url(../images/img-one-mob.png);
  }
}

@media screen and (min-width: 1200px) {
  .icon-one::before {
    width: 270px;
    background-image: url(../images/img-one.png);
  }
}

.icon-two::before {
  display: block;
  content: "";
  width: 450px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  background-image: url(../images/img-two-mob.png);
  margin-bottom: 30px;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 480px) {
  .icon-two::before {
    width: 100%;
    background-image: url(../images/img-two-mob.png);
  }
}

@media screen and (min-width: 768px) {
  .icon-two::before {
    width: 354px;
    height: 120px;
    background-image: url(../images/img-two-mob.png);
  }
}

@media screen and (min-width: 1200px) {
  .icon-two::before {
    width: 270px;
    background-image: url(../images/img-two.png);
  }
}

.icon-three::before {
  display: block;
  content: "";
  width: 450px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  background-image: url(../images/img-three-mob.png);
  margin-bottom: 30px;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 480px) {
  .icon-three::before {
    width: 100%;
    background-image: url(../images/img-three-mob.png);
  }
}

@media screen and (min-width: 768px) {
  .icon-three::before {
    width: 354px;
    background-image: url(../images/img-three-mob.png);
  }
}

@media screen and (min-width: 1200px) {
  .icon-three::before {
    width: 270px;
    background-image: url(../images/img-three.png);
  }
}

.icon-fore::before {
  display: block;
  content: "";
  width: 450px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background: #f5f4fa;
  background-image: url(../images/img-fore-mob.png);
  background-position: center;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 480px) {
  .icon-fore::before {
    width: 100%;
    border-radius: 4px;
    background-image: url(../images/img-fore-mob.png);
  }
}

@media screen and (min-width: 768px) {
  .icon-fore::before {
    width: 354px;
    background-image: url(../images/img-fore-mob.png);
  }
}

@media screen and (min-width: 1200px) {
  .icon-fore::before {
    width: 270px;
    background-image: url(../images/img-fore.png);
  }
}

.section-features {
  background-color: #ffffff;
  margin-bottom: 94px;
}

@media screen and (min-width: 768px) {
  .section-features {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .section-features {
    margin-bottom: 60px;
  }
}

.text {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  padding: 0px 0px 0px 0px;
  margin: 0;
}

.title-section-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  padding-bottom: 0px;
  margin-bottom: 10px;
  margin-top: 0;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .title-section-title {
    text-align: center;
  }
}

.container-activity {
  display: inline-flex;
}

.contsiner-activity {
  margin-top: 0px;
  padding-bottom: 94px;
}

@media screen and (min-width: 480px) {
  .contsiner-activity {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .contsiner-activity {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .contsiner-activity {
    display: flex;
  }
}

.container-activity img {
  margin-right: 30px;
}

.thumb img {
  display: block;
  max-width: 100%;
  height: auto;
}

.thumb {
  position: relative;
  margin: 0;
}

.thumb > .label {
  font-family: "Roboto";
  width: 370px;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  position: absolute;
  top: 224px;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}

.container-activity img:nth-child(3n) {
  margin-right: 0;
}

.team {
  background-color: #f5f4fa;
}

@media screen and (max-width: 480px) {
  .team {
    width: 100%;
  }
}

.section-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-bottom: 50px;
  margin-bottom: 0;
  margin-top: 0;
}

@media screen and (max-width: 480px) {
  .section-title {
    font-size: 28px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .section-title {
    font-size: 28px;
    padding-bottom: 60px;
  }
}

.container-time {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}

@media screen and (min-width: 480px) {
  .container-time {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-position: center;
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .container-time {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-position: center;
    padding-left: 0;
    padding-right: 0;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .container-time {
    width: 100%;
  }
}

.section-team {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .section-team {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .section-team {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .section-team {
    width: 1200px;
  }
}

.team-title {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  display: block;
  margin-top: 30px;
  margin-bottom: 10px;
}

.time-box {
  display: block;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

@media screen and (max-width: 480px) {
  .time-box {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .time-box {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .time-box {
    width: 270px;
  }
}

.team h4 {
  padding-top: 94px;
  width: 100%;
}

@media screen and (max-width: 480px) {
  .team h4 {
    padding-top: 60px;
    padding-bottom: 30px;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .team h4 {
    padding-top: 60px;
    padding-bottom: 30px;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .team h4 {
    padding-top: 60px;
    padding-bottom: 30px;
    width: 100%;
  }
}

.team p {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  margin-bottom: 16px;
}

.conainer-time-item {
  width: 100%;
  margin-bottom: 30px;
  margin-right: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 1200px) {
  .conainer-time-item:nth-child(4n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 480px) {
  :nth-child(4n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
  :nth-child(4n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 480px) {
  .conainer-time-item {
    width: 450px;
    height: 622px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
  }
  .conainer-time-item img {
    width: 450px;
    height: 460px;
  }
}

@media screen and (min-width: 768px) {
  .conainer-time-item {
    width: 354px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 30px;
    padding-bottom: 24px;
  }
  .conainer-time-item img {
    width: 354px;
    height: 374px;
  }
}

@media screen and (min-width: 1200px) {
  .conainer-time-item {
    width: 270px;
    height: 428px;
    margin-bottom: 94px;
  }
  .conainer-time-item img {
    width: 270px;
    height: 260px;
  }
}

.social-icon {
  display: flex;
  justify-content: center;
  padding-left: 32px;
  padding-right: 32px;
}

.social-icon-item:not(:last-child) {
  margin-right: 10px;
}

.social-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
}

.social-icon-link:hover .social-icon-svg,
.social-icon-link:focus .social-icon-svg {
  fill: #ffffff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-link:hover,
.social-icon-link:focus {
  background-color: #2196f3;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.container-partners {
  max-width: 100%;
}

@media screen and (max-width: 480px) {
  .container-partners {
    width: 480px;
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .container-partners {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container-partners {
    width: 1200px;
  }
}

.partners-section {
  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .partners-section {
    width: 768px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media (max-width: 480px) {
  .partners-section {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media (min-width: 1200px) {
  .partners-section {
    display: flex;
    width: 1200px;
    padding-bottom: 0;
  }
}

.partners-title {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .partners-title {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .partners-title {
    width: 1200px;
  }
}

.container-title-part {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-basis: calc(100% / 2 - 30px);
  margin: 0;
  padding-left: 0;
}

@media screen and (max-width: 480px) {
  .container-title-part {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 768px) {
  .container-title-part {
    width: 768px;
    height: 100%;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .container-title-part {
    width: 1200px;
    height: 245px;
  }
}

.partners-icon-svg {
  width: 100%;
  height: 90px;
  fill: #afb1b8;
}

@media screen and (min-width: 480px) {
  .partners-icon-svg {
    width: 210px;
  }
}

@media screen and (min-width: 768px) {
  .partners-icon-svg {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .partners-icon-svg {
    width: 170px;
  }
}

.partners-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  margin: 0;
}

.partners-icon-link:hover .partners-icon-svg,
.partners-icon-link:focus .partners-icon-svg {
  fill: #2196f3;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.partners-icon-link:hover, .partners-icon-link:focus {
  background-color: #ffffff;
  border: 1px solid #2196f3;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.partners-icon-link a {
  margin: 0;
}

.partners-icon-item {
  max-width: 210px;
  height: 90px;
  margin-bottom: 30px;
}

.partners-icon-item:nth-child(n + 5) {
  margin-bottom: 0;
}

@media screen and (max-width: 480px) {
  .partners-icon-item {
    height: 90px;
  }
}

@media screen and (min-width: 768px) {
  .partners-icon-item {
    width: 226px;
    height: 90px;
  }
}

@media screen and (min-width: 1200px) {
  .partners-icon-item {
    width: 170px;
    height: 90px;
  }
}

@media screen and (min-width: 768px) {
  .partners-icon-item {
    margin-bottom: 30px;
  }
  .partners-icon-item:nth-child(n + 4) {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .partners-icon-item:not(:last-child) {
    margin-right: 30px;
  }
}

.cellar {
  background-color: #2f303a;
}

@media screen and (max-width: 480px) {
  .cellar {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .cellar .container-footer {
    width: 768px;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .cellar .container-footer {
    width: 1200px;
    display: flex;
    padding: 60px 15px;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
  }
}

.container-footer {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .container-footer {
    width: 768px;
    height: 463px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
    display: block;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .container-footer {
    width: 1200px;
    height: 252px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
    display: block;
    justify-content: start;
    flex-wrap: wrap;
  }
}

.container-footer-pocion {
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .container-footer-pocion {
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .container-footer-pocion {
    margin-right: 70px;
    margin-left: 0;
    text-align: start;
  }
}

.footer-tablet {
  margin-right: auto;
  margin-left: auto;
  display: block;
  justify-content: center;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-tablet {
    display: inline-flex;
    justify-content: center;
    margin-bottom: 0;
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-tablet {
    display: flex;
    justify-content: center;
    margin-right: 93px;
    margin-left: 0;
  }
}

.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #2196f3;
}

@media screen and (max-width: 480px) {
  .footer-logo {
    font-size: 24px;
  }
}

@media screen and (min-width: 768px) {
  .footer-logo {
    font-size: 24px;
  }
}

.logo-cellar {
  padding-bottom: 20px;
  padding-top: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .logo-cellar {
    justify-content: stretch;
  }
}

.footer-logo-second {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #ffffff;
}

@media screen and (max-width: 480px) {
  .footer-logo-second {
    font-size: 24px;
  }
}

.container-address {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-address .link {
  width: 231px;
  height: 21px;
}

.container-address a:not(:last-child) {
  margin-bottom: 9px;
}

.footer-map {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.171;
  letter-spacing: 0.03em;
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  /* margin-bottom: 9px; */
}

.connetion {
  /* margin-bottom: 9px; */
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 4808px) {
  .social-cellar-icon {
    margin-top: 60px;
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .social-cellar-icon {
    margin-top: 0;
    display: block;
  }
}

.footer-social {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  display: block;
  margin-bottom: 20px;
}

.social-cellar-icon .social-icon-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-cellar-icon .social-icon-svg {
  fill: #ffffff;
}

.social-icon-link:hover,
.social-icon-link:focus {
  background-color: #2196f3;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-cellar-icon .social-icon {
  padding: 0;
  margin: 0;
}

.cellar-form-svg {
  position: relative;
  top: -50%;
  left: 85%;
  width: 24px;
  height: 24px;
  fill: #ffffff;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 1200px) {
  .cellar-form-svg {
    position: absolute;
    top: 50%;
    left: 80%;
  }
}

.social-cellar-form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

@media screen and (min-width: 1200px) {
  .social-cellar-form {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }
}

.cellar-form {
  display: block;
}

@media screen and (min-width: 1200px) {
  .cellar-form {
    position: absolute;
  }
}

.input-cellar-form {
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 100%;
  height: 50px;
  color: #757575;
  margin-left: auto;
  margin-right: auto;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1, 25;
  display: block;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
}

@media screen and (min-width: 1200px) {
  .input-cellar-form {
    width: 358px;
    display: block;
  }
}

.input-cellar-form:focus {
  border-color: #2196f3;
  outline: none;
}

.form-modal:focus .input-cellar-form {
  border: 2px solid #2196f3;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.btn-cellar {
  display: block;
  border: none;
  padding-right: 62px;
  padding-left: 29px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-align: center;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .btn-cellar {
    margin-top: 0;
    display: inline-block;
    margin-left: 12px;
    margin-right: auto;
    position: absolute;
    top: 69%;
    left: 128%;
    transform: translate(-50%, -50%) scale(1);
  }
}

.btn-cellar:focus, .btn-cellar:hover {
  color: #2196f3;
  background: #ffffff;
  border: 2px solid #2196f3;
}

.btn-cellar:focus .cellar-form-svg,
.btn-cellar:hover .cellar-form-svg {
  fill: #2196f3;
}
/*# sourceMappingURL=main.css.map */