.cellar {
  background-color: $cellar-fon;
  @include for-size(mobile) {
    width: 480px;
  }

  @include for-size(tablet) {
    .container-footer {
      width: 768px;
      display: flex;
    }
  }

  @include for-size(desktop) {
    .container-footer {
      width: 1200px;
      display: flex;

      padding: 60px 15px;
      margin: 0;
      margin-right: auto;
      margin-left: auto;
    }
    // label {
    //   padding-top: 0;
    // }
  }
}

.container-footer {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 60px;
  padding-bottom: 60px;

  // .container-contacts {
  //   flex-wrap: wrap-reverse;
  //   text-align: center;

  // }

  @include for-size(tablet) {
    width: 768px;
    height: 463px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
    display: block;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  @include for-size(desktop) {
    width: 1200px;
    height: 252px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
    display: block;
    justify-content: start;
    flex-wrap: wrap;
  }
}

.container-footer-pocion {
  margin-right: auto;
  margin-left: auto;

  @include for-size(tablet) {
    margin-right: 165px;
  }

  @include for-size(desktop) {
    margin-right: 70px;
    margin-left: 0;
  }
}

.footer-tablet {
  margin-right: auto;
  margin-left: auto;
  display: block;
  justify-content: center;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer-tablet {
    display: inline-flex;
    justify-content: center;
    margin-bottom: 0;
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer-tablet {
    display: flex;
    justify-content: center;
    margin-right: 93px;
    margin-left: 0;
  }
}

.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #2196f3;

  @include for-size(mobile) {
    font-size: 24px;
  }
  @include for-size(tablet) {
    font-size: 24px;
  }
}

.logo-cellar {
  padding-bottom: 20px;
  padding-top: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.footer-logo-second {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #ffffff;

  @include for-size(mobile) {
    font-size: 24px;
  }
}

.container-address {
  display: flex;
  flex-direction: column;
  align-items: center;

  .link {
    width: 231px;
    height: 21px;
  }
}

.container-address a:not(:last-child) {
  margin-bottom: 9px;
}

.footer-map {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 1.171;
  letter-spacing: 0.03em;
  color: $wight-text;
  font-style: normal;
  font-weight: normal;
  /* margin-bottom: 9px; */
}

.connetion {
  /* margin-bottom: 9px; */
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  line-height: 171%;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 4808px) {
  .social-cellar-icon {
    margin-top: 60px;
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .social-cellar-icon {
    margin-top: 0;
    display: block;
  }
}

.footer-social {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $wight-text;
  text-align: center;
  display: block;
  margin-bottom: 20px;
}

.social-cellar-icon .social-icon-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-cellar-icon .social-icon-svg {
  fill: $wight-text;
}

.social-icon-link:hover,
.social-icon-link:focus {
  background-color: $link-text-cl;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-cellar-icon .social-icon {
  padding: 0;
  margin: 0;
}

.cellar-form-svg {
  position: relative;
  top: -50%;
  left: 85%;
  width: 24px;
  height: 24px;
  fill: $wight-text;

  transform: translate(-50%, -50%);

  @include for-size(desktop) {
    position: absolute;
    top: 50%;
    left: 80%;
  }
}
