.img-element {
  margin-right: 0;
}

.container-features {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  .section-label {
    display: flex;
    margin-bottom: 0;
    margin-top: 0;
  }
}

@media screen and (max-width: 480px) {
  .container-features {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .container-features {
    display: inline-flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .container-features {
    display: inline-flex;
    flex-wrap: nowrap;
  }
}

.item-features {
  margin-right: 0;

  @include for-size(tablet) {
    margin-right: 30px;
    margin-bottom: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }

  @include for-size(desktop) {
    margin-right: 30px;
  }
}

@media (max-width: 768px) {
  .item-features:nth-child(2n) {
    margin-right: 0;
  }
}

@media (min-width: 1200px) {
  .item-features:nth-child(4n) {
    margin-right: 0;
  }
}

.icon-one::before {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  margin-bottom: 30px;

  @include for-size(mobile) {
    width: 450px;
    height: 120px;
    background: $team-fon;
    border-radius: 4px;
    background-image: url(../images/img-one-mob.png);
    background-position: center;
    background-repeat: no-repeat;
  }

  @include for-size(tablet) {
    width: 354px;
    height: 120px;
    background: $team-fon;
    border-radius: 4px;
    background-image: url(../images/img-one-mob.png);
    background-position: center;
    background-repeat: no-repeat;
  }

  @include for-size(desktop) {
    width: 270px;
    height: 120px;
    background-image: url(../images/img-one.png);
    background-position: center;
    background-repeat: no-repeat;
  }
}

.icon-two::before {
  display: block;
  content: "";
  width: 100%;
  height: 100%;

  margin-bottom: 30px;

  @include for-size(mobile) {
    width: 450px;
    height: 120px;
    background: $team-fon;
    border-radius: 4px;
    background-image: url(../images/img-two-mob.png);
    background-position: center;
    background-repeat: no-repeat;
  }

  @include for-size(tablet) {
    width: 354px;
    height: 120px;
    background: $team-fon;
    border-radius: 4px;
    background-image: url(../images/img-two-mob.png);
    background-position: center;
    background-repeat: no-repeat;
  }

  @include for-size(desktop) {
    width: 270px;
    height: 120px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/img-two.png);
  }
}

.icon-three::before {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  margin-bottom: 30px;

  @include for-size(mobile) {
    width: 450px;
    height: 120px;
    background: $team-fon;
    border-radius: 4px;
    background-image: url(../images/img-three-mob.png);
    background-position: center;
    background-repeat: no-repeat;
  }

  @include for-size(tablet) {
    width: 354px;
    height: 120px;
    background: $team-fon;
    border-radius: 4px;
    background-image: url(../images/img-three-mob.png);
    background-position: center;
    background-repeat: no-repeat;
  }

  @include for-size(desktop) {
    width: 270px;
    height: 120px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/img-three.png);
  }
}

.icon-fore::before {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  margin-bottom: 30px;

  @include for-size(mobile) {
    width: 450px;
    height: 120px;
    background: $team-fon;
    border-radius: 4px;
    background-image: url(../images/img-fore-mob.png);
    background-position: center;
    background-repeat: no-repeat;
  }

  @include for-size(tablet) {
    width: 354px;
    height: 120px;
    background: $team-fon;
    border-radius: 4px;
    background-image: url(../images/img-fore-mob.png);
    background-position: center;
    background-repeat: no-repeat;
  }

  @include for-size(desktop) {
    width: 270px;
    height: 120px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../images/img-fore.png);
  }
}

.section-features {
  background-color: $wight-text;
  margin-bottom: 94px;

  @include for-size(mobile) {
    margin-bottom: 60px;
  }

  @include for-size(tablet) {
    margin-bottom: 60px;
  }
}

.text {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $main-text-cl;
  padding: 0px 0px 0px 0px;
  margin: 0;
}

.title-section-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $black-text;

  padding-bottom: 0px;
  margin-bottom: 10px;
  margin-top: 0;

  @include for-size(mobile) {
    text-align: center;
  }
}
