.container-partners {
  max-width: 100%;

  @include for-size(mobile) {
    width: 480px;
    display: block;
  }

  @include for-size(tablet) {
    width: 768px;
  }

  @include for-size(desktop) {
    width: 1200px;
  }
}

.partners-section {
  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .partners-section {
    width: 768px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media (max-width: 480px) {
  .partners-section {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media (min-width: 1200px) {
  .partners-section {
    display: flex;
    width: 1200px;
    padding-bottom: 0;
  }
}

.partners-title {
  width: 100%;

  margin-left: auto;
  margin-right: auto;

  @include for-size(tablet) {
    width: 768px;
  }

  @include for-size(desktop) {
    width: 1200px;
  }
}

.container-title-part {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-basis: calc(100% / 2 - 30px);
  margin: 0;
  padding-left: 0;

  @include for-size(mobile) {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
  }

  @include for-size(tablet) {
    width: 768px;
    height: 100%;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
  }

  @include for-size(desktop) {
    width: 1200px;
    height: 245px;
  }
}

.partners-icon-svg {
  width: 100%;
  height: 90px;
  fill: $icon-cl;
}

@media screen and (min-width: 480px) {
  .partners-icon-svg {
    width: 210px;
  }
}

@media screen and (min-width: 768px) {
  .partners-icon-svg {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .partners-icon-svg {
    width: 170px;
  }
}

.partners-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90px;
  background-color: $wight-text;
  border-radius: 4px;
  border: 1px solid $icon-cl;
  margin: 0;

  &:hover .partners-icon-svg,
  &:focus .partners-icon-svg {
    fill: $link-text-cl;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &:hover,
  &:focus {
    background-color: $wight-text;
    border: 1px solid $link-text-cl;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.partners-icon-link a {
  margin: 0;
}

.partners-icon-item {
  max-width: 210px;
  height: 90px;
  margin-bottom: 30px;
  &:nth-child(n + 5) {
    margin-bottom: 0;
  }

  @include for-size(mobile) {
    height: 90px;
  }
  @include for-size(tablet) {
    width: 226px;
    height: 90px;
  }
}

@media screen and (min-width: 1200px) {
  .partners-icon-item {
    width: 170px;
    height: 90px;
  }
}

@media screen and (min-width: 768px) {
  .partners-icon-item {
    margin-bottom: 30px;
    &:nth-child(n + 4) {
      margin-bottom: 0;
    }
  }
}

@media (min-width: 1200px) {
  .partners-icon-item:not(:last-child) {
    margin-right: 30px;
  }
}
