.container-activity {
  display: inline-flex;
}

.contsiner-activity {
  margin-top: 0px;
  padding-bottom: 94px;
}

.container-activity img {
  margin-right: 30px;
}

.thumb img {
  display: block;
  max-width: 100%;
  height: auto;
}

.thumb {
  position: relative;
  margin: 0;
}

.thumb > .label {
  font-family: "Roboto";
  width: 370px;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  position: absolute;
  top: 224px;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: rgba(47, 48, 58, 0.8);
  color: $wight-text;
}

.container-activity img:nth-child(3n) {
  margin-right: 0;
}
