.btn {
  display: inline-block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.9em;
  letter-spacing: 0.06em;
  color: #fff;
  background-color: #2196f3;
  text-decoration: none;
  padding: 10px 32px;
  border-radius: 4px;
  min-width: 200px;
  border: none;
  cursor: pointer;
}

.btn-position {
  padding-bottom: 210px;

  @include for-size(mobile) {
    padding-bottom: 118px;
  }

  @include for-size(tablet) {
    padding-bottom: 118px;
  }
}
