.container-hero {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  @include for-size(mobile) {
    width: 480px;
    margin: 0 auto;
    padding: 118px 60px 118px 60px;
  }

  @include for-size(tablet) {
    width: 768px;
    margin: 0 auto;
    padding: 118px 204px 118px 204px;
  }

  @include for-size(desktop) {
    width: 1200px;
    margin: 0 auto;
    padding: 252px 200px 252px 200px;
  }
}

.hero {
  text-align: center;
  margin-bottom: 94px;

  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/application-team.jpg);
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;

  @include for-size(mobile) {
    width: 480px;
    height: 400px;
    margin-bottom: 60px;
  }

  @include for-size(tablet) {
    width: 768px;
    height: 400px;
    margin-bottom: 60px;
  }
}

@media (min-width: 1200px) {
  .hero {
    width: 1600px;
    text-align: center;
    margin-bottom: 94px;
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
  }
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: 452px;
  margin-right: 452px;
  padding-top: 200px;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $wight-text;
  width: 696px;

  @include for-size(mobile) {
    width: 360px;
    height: 84px;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
    font-size: 26px;
    text-align: center;
    padding: 0;
    display: block;
    text-transform: uppercase;
  }

  @include for-size(tablet) {
    width: 360px;
    height: 84px;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
    font-size: 26px;
    text-align: center;
    padding: 0;
    display: block;
    text-transform: uppercase;
  }

  @include for-size(desktop) {
    width: 696px;
    height: 120px;
    font-family: "Roboto";
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $wight-text;
    margin: 0 0 30px 0;
    justify-content: center;
  }
}
