.fon {
  background-color: $cellar-fon;
  @include for-size(mobile) {
    width: 480px;
  }
}

.hero {
  display: block;
  text-align: center;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/application-team-mob480.jpg);
  width: 480px;
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .hero {
    height: 400px;
    width: 768px;

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/application-team-mob768.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    width: 1600px;
    height: 600px;

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/application-team.jpg);
    margin-bottom: 94px;
  }
}

.container-hero {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container-hero {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container-hero {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container-hero {
    width: 1200px;
  }
}

.content {
  display: block;
  padding-top: 118px;
  padding-bottom: 118px;

  @include for-size(desktop) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero-title {
  margin-top: 0;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62em;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $wight-text;
  text-align: center;
  padding-left: 45px;
  padding-right: 45px;
}

@media screen and (min-width: 768px) {
  .hero-title {
    padding-left: 189px;
    padding-right: 189px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36em;
    padding-left: 237px;
    padding-right: 237px;
  }
}
