@mixin fonts-body($fs, $lh, $ls) {
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
}

@mixin fonts-logo($fw, $fs, $lh, $ls) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
}

@mixin fonts-btn-mod($fs, $lh, $ls) {
  font-size: $fs;
  line-height: $lh;
  letter-spacing: $ls;
}

@mixin for-size($range) {
  $mobile: 480px;
  $tablet: 768px;
  $desktop: 1200px;

  @if $range == mobile-only {
    @media (max-width: #{$tablet - 1}) {
      @content;
    }
  } @else if $range == mobile {
    @media screen and (max-width: $mobile) {
      @content;
    }
  } @else if $range == tablet {
    @media screen and (min-width: $tablet) {
      @content;
    }
  } @else if $range == desktop {
    @media screen and (min-width: $desktop) {
      @content;
    }
  }
}

// usage
// .my-box {
//   padding: 10px;

//   @include for-size(tablet) {
//     padding: 20px;
//   }
// }
